In [ ]:
list1=["2020-10-12","2023-10-13","2023-10-08"]

In [ ]:
for i in list1:
    print(i[-2:])

In [ ]:
for i in list1:
    print(i.split("-")[-1])

In [ ]:
b=[]
for i in list1:
    b.append(i.split("-")[-1])
b

In [ ]:
l1=[1,2,3]
l2=["a","b","c"]
list(zip(l1,l2))

In [ ]:
dict(list(zip(l1,l2)))

In [ ]:
a=int(input("enter the number:"))
b=100
c=b/a
print(c)

#exceptional handling
1. try block
2. except
3. else
4. finally block

In [ ]:
try:
    a=int(input("enter the number:"))
    b=100
    c=b/a
    print(c)
except:
    print("enter proper value greater zero")

In [ ]:
try:
    a=int(input("enter the number:"))
    b=100
    c=b/a
    print(c)
except ValueError:
    print("pls give int value")
except ZeroDivisionError:
    print("enter proper value greater zero")
print("done")

In [ ]:
try:
    a=int(input("enter the number:"))
    b=100
    c=b/a
    print(c)
except Exception as e:
    print(e)
print("done")

In [ ]:
try:
    a=int(input("enter the number: "))
    b=100
    c=b/a
    print(c)
except Exception as e:
    print(e)
else:
    print("no error")
print("done")

In [ ]:
try:
    a=int(input("enter the number: "))
    b=100
    c=b/a
    print(c)
except Exception as e:
    print(e)
else:
    print("no error")
finally:
    print("successfully finished")#--------------the boss

In [ ]:
try:
    a=int(input("enter the number: "))
    b=100
    c=b/a
    print(c)
except Exception as e:
    print(e)
finally:
    print("successfully finished")

int, bool, float, str, list, tuple, range, dict, complex, set, frozenset

In [ ]:
a=20

In [ ]:
mutable and immutable
list        tuple, int, str, bool, float, complex, frozenset
set
dict

In [ ]:
#set unordered, unchangeable, unindex, dot not allow duplicates values
#set items or elements are any data types

In [ ]:
1.add
2.clear
3. copy
4. difference

In [ ]:
#creating empty use below step
set1={()}

In [ ]:
type(set1)

In [ ]:
set2={1,2,3,4,5,6,6,6}

In [ ]:
set2

In [ ]:
set3={1,2,3,4,5,6,6,7,True}

In [ ]:
set3

In [ ]:
set4={1,2,3,4,5,"t",1.0,6,True,1+2j}

In [ ]:
set4.

In [ ]:
set4.add("h")

In [ ]:
set4

In [ ]:
set4.clear()

In [ ]:
set4.

In [ ]:
set5=set4.copy()

In [ ]:
set5

In [ ]:
id(set4)

In [ ]:
id(set5)

In [ ]:
set3

In [ ]:
set4

In [ ]:
z=set3.difference(set4)

In [ ]:
z

In [ ]:
y=set4.difference(set3)

In [ ]:
y.

In [ ]:
set3

In [ ]:
set4

In [ ]:
set3.difference_update(set4)

In [ ]:
set3

In [ ]:
set4.

In [ ]:
?set4.discard

In [ ]:
set4.discard(1) #it must be element otherwise no error

In [ ]:
set4

In [ ]:
set3

In [ ]:
set6

In [ ]:
set6= set3.intersection(set4)#it creates new set fetching matching items

In [ ]:
set4.update

In [ ]:
set4.intersection_update(set3)#it remove the itmes is not present in both sets it is updated original set

In [ ]:
set7={"1","5"}

In [ ]:
?set4.isdisjoint

In [ ]:
#isdisjoint
set3.isdisjoint(set7)

In [ ]:
set3

In [ ]:
set4.

In [ ]:
z=set4.issubset(set3)#bollean output true or false

In [ ]:
z

In [ ]:
set3.issuperset(set4)#bollean output true or false

In [ ]:
set4.pop()#remove item from left to right

In [ ]:
set4.

In [ ]:
set4.remove(7)#remove specific element must be elemnt otherwise error

In [ ]:
set4

In [ ]:
#union

In [ ]:
set3

In [ ]:
set4

In [ ]:
t=set3.union(set4)

In [ ]:
?t.symmetric_difference

In [ ]:
u=set3.symmetric_difference(set4)#here it will create new set which remove both set common item

In [ ]:
u

In [ ]:
set3.symmetric_difference_update(set4)#here it will update original set which remove both set common item

In [ ]:
set3

In [ ]:
#updation
set3.update(set4)

In [ ]:
set3={1,2,3,5,8,9}

In [ ]:
set3

In [ ]:
#index
set3

In [ ]:
set3[1]

In [ ]:
set3[3]="7"

In [ ]:
#frozenset ----------->immuatable
#Syntax: frozenset([Iterable])

In [ ]:
set3

In [ ]:
q=frozenset(set3)

In [ ]:
type(q)

In [ ]:
q.

In [ ]:
q.add["v"]

In [ ]:
dict1={"1":1,"2":2}

In [3]:
#first creating the new frozen set
#Creating a frozenset
frzs = frozenset([1, 2, 3, 4])

In [7]:
#copy,
# Creates a shallow copy of the frozenset.
frzs_copy = frzs.copy()
frzs_copy


  issuperset, issubset,

frozenset({1, 2, 3, 4})

In [9]:
#difference,
#Returns a new frozenset containing elements in the current frozenset but not in fs1.
fs1 = frozenset([3, 4, 5])
diff = frzs.difference(fs1) 
diff

frozenset({1, 2})

In [11]:
# intersection,
# Returns a new frozenset containing elements that are in the current frozenset 
fs2 = frozenset([3, 4, 5, 6])
intersection = frzs.intersection(fs2) 
intersection

frozenset({3, 4})

In [18]:
#symetric_difference,
#returns the frozenset which has elements from both frozensets without common element
symmetric_difference=frzs.symmetric_difference(fs1)
symmetric_difference

frozenset({1, 2, 5})

In [14]:
# isdisjoint()
# Returns True if the frozenset has no elements in common with specified frozen set that is fs1.
disjoint = frzs.isdisjoint(fs1)
disjoint

False

In [15]:
# union()
# Returns a new frozenset containing all unique elements from the current frozenset and fs1 frozensets.
union = frzs.union(fs1) 
union

frozenset({1, 2, 3, 4, 5})

In [16]:
# issuperset()
# Returns True if the frozenset is a superset of fs1.
superset = frzs.issuperset(fs1) 
superset

False

In [17]:
# issubset()
# Returns True if the frozenset is a subset of fs1.
subset = frzs.issubset(fs1)
subset

False

In [ ]:
frozenset(dict1)

In [ ]:
t1=(1,3,2,1,4,5)

In [ ]:
sorted(t1, reverse=True)

In [ ]:
#sort is a method (list, string) it will chnage origial datatype
#sorted is function() it is cerated new data type

In [ ]:
#built in function
#1. all

In [ ]:
?all

In [ ]:
all(t1)

In [ ]:
all([ ])

In [ ]:
all([True,False])

In [ ]:
divmod(4,2)#otput is (floor division, quetint)

In [ ]:
any([True,False])

In [ ]:
any([False,False])

In [ ]:
all([1,0])

In [ ]:
round(1.2)

In [ ]:
round(1.6)

In [ ]:
#operators
1. arithemetic
+,-,*,/,%,//,**

In [ ]:
1+2

In [ ]:
"q"+"2"

In [ ]:
"w"+1

In [ ]:
#int+float=float
#complex+complex=complex
#comple+float=complex
#int+complex=complex
#int+boolean=int
#boolean+boolean=int
#str+str=str
#int+int=int
#list+list=list
#tple+tple=tuple
#set+set (we cant add)

In [ ]:
{1,2}+{1,2}

In [ ]:
True+False

In [ ]:
2+True

In [ ]:
["s"]+["e"]

In [ ]:
["s"]+("e")

In [ ]:
(1,)+(2,)

In [ ]:
{1:1}+{2:2}

In [ ]:
2+2j+1+1j

In [ ]:
1+1j+"w"

In [ ]:
a=30
b=20

In [ ]:
a-b

In [ ]:
list-list

In [ ]:
[1,2]-[1,2]

In [ ]:
True-False

In [ ]:
#* multiplication

In [ ]:
a*b

In [ ]:
int*int
str*str(not)  # we cannot multiply two strings
float*float   #we can multiply two floats
boolean*boolean   # we can also multiply two booleans
str*int         #we can multiply string with integer but its not exact multiplying it copies the string by the times of integer 
str*float     #we cannot multiply string with float integer

In [ ]:
(2+2j)*(2+2j)# j^2=-1   #we can multiply two comples formats

In [ ]:
"ganesh"*6

In [ ]:
True*True

In [19]:
"ganesh"*6.2

<class 'TypeError'>: can't multiply sequence by non-int of type 'float'

In [ ]:
list*list

In [24]:
[1,2,3]*[1,2,3]   #we cannot multiply two lists

<class 'TypeError'>: can't multiply sequence by non-int of type 'list'

In [ ]:
list*int    # this will copy the list by the number of interger times

In [ ]:
list*complex

In [25]:
[1,2,3]*(2+2j)   #we cannot multiply list with complex values

<class 'TypeError'>: can't multiply sequence by non-int of type 'complex'

In [ ]:
/,%,//  #these opeartors work with only integer,float and % doesnt work with two complex

In [ ]:
int**int

In [20]:
complex**complex

<class 'TypeError'>: unsupported operand type(s) for ** or pow(): 'type' and 'type'

In [21]:
(2+2j)**(2+2j)   #we can get comples power of complex type

(-1.4525046270557027-0.8098895463353005j)

In [22]:
(2+2j)/(2+2j) # we can get division of two complex datatype

(1+0j)

In [23]:
(2+2j)%(2+2j)   #we cannot get remainder value when both are complex

<class 'TypeError'>: unsupported operand type(s) for %: 'complex' and 'complex'

In [ ]:
#relational conditional
==,>,<,!=,>=,<=

In [ ]:
a

In [ ]:
b

In [ ]:
a==b

In [ ]:
a>b

In [ ]:
a<b

In [ ]:
a!=b

In [ ]:
a<=b

In [ ]:
a>=b

In [ ]:
a,b=30,30

In [ ]:
a!=b

In [ ]:
#Assignment operotor

In [ ]:
a

In [ ]:
c=a

In [ ]:
c

In [ ]:
a=a+1#a+=1

In [ ]:
a

In [ ]:
a+=1

In [ ]:
a

In [ ]:
a=a-1#a-=1

In [ ]:
a*=2

In [ ]:
a/=30

In [ ]:
a

In [ ]:
a//=1

In [ ]:
a

In [ ]:
a%=1

In [ ]:
a

In [ ]:
a**=2

# Logicla opearotes are and, or, not

In [ ]:
a=12
b=2
if a==12 and b==3:
    print("hi")
else:
    print("not matching with seven")

In [ ]:
a=12
b=2
if a not b:
    print("hi")
else:
    print("not matching with seven")

In [ ]:
a = 10

if not a:
	print("Boolean value of a is True")
else:
	print("10 is divisible by either 3 or 5")